.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid green;
  padding: 10px;
}

.header{
  padding: 10px;
}

footer {
  font-size: xx-large;
  color: darkolivegreen;
}

body {
  padding: 10px;
}